.wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  padding: 0 16px;
  border-radius: 8px;
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 500;
  font-family: var(--font-family);
  background-color: var(--black);
  user-select: none;
  cursor: pointer;

  + .wrapper {
    margin-left: 8px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &:hover {
    background-color: #272727;
  }
  &:hover .icon.center {
    display: block;
    animation: bgm-show linear 0.4s;
  }
}

@keyframes bgm-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// .icon + .title,
// .title + .icon {
//   margin-left: 8px;
// }

a > .title {
  color: var(--white);
}
.title {
  white-space: nowrap;
}

.icon {
  display: inline-block;
  width: var(--size-item-default);
  height: calc(var(--size-item-default) + 12px);
  margin-right: 6px;
  margin-left: -6px;

  &.center {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: calc(var(--heightHeader-item) + 10px);
    height: calc(var(--heightHeader-item) + 10px);
    line-height: calc(var(--heightHeader-item) - 10px);
    padding: 8px;
    margin: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white);
    fill: currentColor;
  }
}

// Button types
.primary {
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
}

.warning {
  height: 36px;
  line-height: 36px;
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;

  &:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
  }
}

.danger {
  height: 36px;
  line-height: 36px;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;

  &:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
}

.rounded {
  height: 36px;
  border-radius: 18px;
  border: 1px solid transparent;
}

.submit {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;

  &:hover {
    background-color: #007bff;
    opacity: 0.8;
  }
}

.circle {
  min-width: unset;
  padding: 0;
  border-radius: 50%;
  .title {
    border-radius: 50%;
  }
}

.outline {
  color: var(--color-signin);
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #def1ff;
  }
}

.text {
  &:hover {
    text-decoration: underline;
  }
}

// Button sizes
.small {
  min-width: 88px;
  padding: 4px 16px;
}

.large {
  padding: 14px 16px;
  min-width: 140px;
}
